# Postgresql url
DATABASE_URL=postgresql+asyncpg://user:password@host:port/database

# Cookie Session secret
# You can generate one by running openssl rand -hex 32
SESSION_SECRET=

# The name of the relaying party (e.g. Example)
WEBAUTHN_RP_NAME=
# The domain of the relaying party (e.g. example.com)
WEBAUTHN_RP_ID=
