[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.63.0,<1"
uvicorn = {version = ">=0.13.3,<1", extras = ["standard"]}

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
web = "uvicorn web.main:app --reload"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
