<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passwordless Login</title>
    <script src="/static/cbor.js" type="text/javascript"></script>
</head>
<body>
<h1>Logging in ...</h1>
<noscript><b>You have to enable javascript to use passwordless login</b></noscript>
<script>
    fetch('/auth/webauthn/auth/begin', {
        method: 'POST',
    }).then(function (response) {
        console.log(response)
        if (response.ok) return response.arrayBuffer();
        throw new Error('No credential available to authenticate!');
    }).then(CBOR.decode).then(function (options) {
        return navigator.credentials.get(options);
    }).then(function (assertion) {
        console.log(assertion.response)
        return fetch('/auth/webauthn/auth/complete', {
            method: 'POST',
            headers: {'Content-Type': 'application/cbor'},
            body: CBOR.encode({
                "credentialId": new Uint8Array(assertion.rawId),
                "authenticatorData": new Uint8Array(assertion.response.authenticatorData),
                "clientDataJSON": new Uint8Array(assertion.response.clientDataJSON),
                "signature": new Uint8Array(assertion.response.signature),
                "userHandle": new Uint8Array(assertion.response.userHandle)
            })
        })
    }).then(function (response) {
        var stat = response.ok ? 'successful' : 'unsuccessful';
        alert('Authentication ' + stat + ' More details in server log...');
    }, function (reason) {
        alert(reason);
    }).then(function () {
        window.location = '/logged_in';
    });
</script>
</body>
</html>
