<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="/auth/register" method="post">
    <label>Email
        <input type="email" name="email" required>
    </label>
    <br>
    <label>
        Password
        <input type="password" name="password" required>
    </label>
    <br>
    <label>
        Password confirm
        <input type="password" name="password_confirm" required>
    </label>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
